body, h1, h2, h3, h4, ul, p, img, button {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

iframe, button, img {
  border: none; }

button, img {
  vertical-align: middle; }

img {
  max-width: 100%; }

button {
  background: none;
  cursor: pointer;
  font-family: inherit; }

header, nav, section, article, footer {
  display: block; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.blind {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.w1400 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.f_orange {
  color: #FB511D; }

.fade {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  opacity: 0; }
  .fade.up {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px); }
  .fade.down {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); }
  .fade.fd_right {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px); }
  .fade.fd_left {
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -o-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px); }

.fade.on {
  opacity: 1; }
  .fade.on.up, .fade.on.down {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .fade.on.fd_left, .fade.on.fd_right {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: jeju,NtSansKR,poppins,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #222222;
  line-height: 1.2;
  word-break: keep-all; }

#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: #FB511D;
  color: #fff;
  font-size: 30px;
  text-align: center;
  z-index: 1000; }
  #skip a:focus {
    left: 0; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px; }
  #header .logo a, #header .gnb_open_btn, #header .email {
    position: fixed;
    z-index: 1000; }
  #header .logo a {
    top: 28px;
    left: 20px;
    font-size: 30px;
    background: #F9DCA2;
    width: 268px;
    height: 39px;
    line-height: 39px;
    font-weight: 400;
    text-align: center; }
  #header .gnb_open_btn {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    top: 16px;
    right: 82px;
    background: url("../images/icon/nav.svg") no-repeat center;
    width: 70px;
    height: 70px; }
  #header .email {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: top right;
    right: 20px;
    top: 240px;
    font-size: 16px; }

.gnb {
  width: 100%;
  height: 100%;
  background: #012875;
  text-align: center; }
  .gnb .blob {
    -webkit-animation: move 10s ease-in-out infinite;
    -moz-animation: move 10s ease-in-out infinite;
    -o-animation: move 10s ease-in-out infinite;
    animation: move 10s ease-in-out infinite;
    position: absolute;
    left: 0;
    width: 695px;
    height: 613px; }
  .gnb li a {
    position: relative;
    color: #ffffff;
    font-family: NtSansKR;
    font-weight: 700;
    font-size: 100px;
    width: 100%; }
    .gnb li a::after {
      -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
      -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
      -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 10px;
      width: 0;
      background: #ffffff; }
    .gnb li a:hover::after, .gnb li a:focus::after {
      width: 100%;
      left: 0; }

#gnb {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1100; }
  #gnb .blob {
    top: 0; }
  #gnb ul {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%; }
    #gnb ul li + li {
      margin-top: 50px; }
  #gnb .gnb_close_btn {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    position: absolute;
    top: 77px;
    right: 77px;
    background: url("../images/icon/close_btn.svg") no-repeat center;
    width: 82px;
    height: 82px; }

#footer .link {
  margin: 277px 0 80px;
  text-align: center; }
  #footer .link a {
    font-size: 20px; }
    #footer .link a + a {
      margin-left: 150px; }
    #footer .link a:hover, #footer .link a:focus {
      text-decoration: underline; }

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); }
  38% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); } }
@-moz-keyframes move {
  0% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); }
  38% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); } }
@-o-keyframes move {
  0% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); }
  38% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); } }
@keyframes move {
  0% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); }
  38% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40% {
    -webkit-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -moz-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -o-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    -ms-transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80% {
    -webkit-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -moz-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -o-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    -ms-transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% {
    -webkit-transform: scale(1) translate(10px, -30px);
    -moz-transform: scale(1) translate(10px, -30px);
    -o-transform: scale(1) translate(10px, -30px);
    -ms-transform: scale(1) translate(10px, -30px);
    transform: scale(1) translate(10px, -30px); } }

/*# sourceMappingURL=common.css.map */
