#me .tit, #skill .tit {
  font-family: hopang;
  font-size: 100px; }

#me {
  position: relative;
  top: 96px;
  background-repeat: no-repeat;
  background-image: url("../images/common/yellow_line.svg"), url("../images/common/orange_bg.svg"), url("../images/common/yellow_line.svg"), url("../images/aboutme/bluesky_bg.svg");
  background-position: 1090px 250px,1570px 422px,1474px 1057px,150px 1168px; }
  #me .bg img {
    -webkit-animation: rotate 60s linear infinite;
    -moz-animation: rotate 60s linear infinite;
    -o-animation: rotate 60s linear infinite;
    animation: rotate 60s linear infinite;
    position: absolute; }
    #me .bg img:nth-child(1) {
      top: 44px;
      left: -122px;
      width: 450px;
      height: 450px; }
    #me .bg img:nth-child(2) {
      top: 1040px;
      right: 358px;
      width: 89px;
      height: 89px; }
  #me .tit {
    margin: 68px 0 132px 10px; }
  #me .click1, #me .click2 {
    -webkit-animation: updown 1.5s infinite;
    -moz-animation: updown 1.5s infinite;
    -o-animation: updown 1.5s infinite;
    animation: updown 1.5s infinite;
    position: absolute;
    top: 240px;
    font-size: 20px;
    color: #656565;
    transform-origin: 50% 50%; }
  #me .click1 {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%; }
  #me .click2 {
    left: 340px; }
  #me .img_wrap {
    position: relative;
    width: 664px;
    height: 647px;
    background: #FB511D;
    z-index: 1; }
    #me .img_wrap.on {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%; }
    #me .img_wrap.on::after {
      content: "";
      position: absolute;
      top: -30px;
      left: 0;
      background: #FB511D;
      opacity: 98%;
      width: 100%;
      height: calc(100% + 30px); }
    #me .img_wrap img, #me .img_wrap button {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important; }
    #me .img_wrap .q {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: calc(50% - 15px);
      left: 50%;
      z-index: 10;
      background: url("../images/icon/q_mark.svg") no-repeat;
      width: 86px;
      height: 130.5px; }
    #me .img_wrap img, #me .img_wrap .smile {
      position: absolute; }
    #me .img_wrap > img {
      display: inline-block;
      width: 633px;
      top: -30px;
      right: 0;
      background: no-repeat center; }
    #me .img_wrap .smile {
      background: url("../images/icon/smile_icon.svg") no-repeat; }
    #me .img_wrap .smile1 {
      -webkit-transform: rotate(145deg);
      -moz-transform: rotate(145deg);
      -o-transform: rotate(145deg);
      -ms-transform: rotate(145deg);
      transform: rotate(145deg);
      width: 67px;
      height: 67px;
      top: 158px;
      left: 193px; }
    #me .img_wrap .smile2 {
      -webkit-transform: rotate(21deg);
      -moz-transform: rotate(21deg);
      -o-transform: rotate(21deg);
      -ms-transform: rotate(21deg);
      transform: rotate(21deg);
      width: 56px;
      height: 56px;
      top: 199px;
      left: 502px; }
    #me .img_wrap .smile3 {
      -webkit-transform: rotate(-106deg);
      -moz-transform: rotate(-106deg);
      -o-transform: rotate(-106deg);
      -ms-transform: rotate(-106deg);
      transform: rotate(-106deg);
      width: 68px;
      height: 68px;
      top: 370px;
      left: 473px; }
    #me .img_wrap .smile4 {
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
      width: 44px;
      height: 44px;
      top: 426px;
      left: 101px; }
  #me .txt {
    position: absolute;
    top: 858px;
    right: 0;
    width: 701px; }
    #me .txt p {
      font-size: 80px;
      font-family: hopang; }
    #me .txt .first {
      float: right; }
    #me .txt .mid {
      padding-left: 107px; }
  #me .text {
    position: absolute;
    width: 630px;
    right: 0;
    top: 310px;
    line-height: 32px; }
    #me .text::before {
      content: "";
      position: absolute;
      background: url("../images/common/color_dot.svg") no-repeat;
      width: 25px;
      height: 520px;
      left: -51px;
      bottom: -35%; }
    #me .text p {
      position: relative;
      font-size: 22px; }
    #me .text #txt1 {
      margin-bottom: 30px; }
    #me .text #txt2 {
      margin-bottom: 100px; }
    #me .text #txt3 {
      margin-bottom: 200px; }
    #me .text p::after {
      -webkit-transition: width 1s;
      -moz-transition: width 1s;
      -o-transition: width 1s;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #fff; }
    #me .text p.on::after {
      width: 0; }
  #me .video {
    position: relative;
    height: 619px;
    margin: 250px 0 301px; }
    #me .video iframe {
      float: right;
      width: 1100px;
      height: 619px; }
    #me .video a {
      position: absolute;
      bottom: 0;
      left: 73px;
      font-size: 22px; }
      #me .video a:hover, #me .video a:focus {
        text-decoration: underline; }

#skill .tit_wrap {
  margin-bottom: 45px; }
  #skill .tit_wrap * {
    display: inline-block;
    float: right; }
  #skill .tit_wrap .tit {
    margin-right: 10px; }
  #skill .tit_wrap span {
    position: relative;
    font-size: 23px;
    margin-right: 50px;
    margin-top: 63px; }
    #skill .tit_wrap span::after {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      content: "";
      position: absolute;
      background: url("../images/icon/v_icon.svg") no-repeat;
      top: 50%;
      right: -25px;
      width: 20px;
      height: 24px; }
#skill .wrap {
  background: #222222;
  color: #ffffff;
  padding: 100px 0;
  height: 620px; }
  #skill .wrap .w1400 {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px; }
    #skill .wrap .w1400 .programming, #skill .wrap .w1400 .design, #skill .wrap .w1400 .ect {
      width: calc(100% / 3); }
  #skill .wrap strong {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    top: 50%;
    left: 50%; }
  #skill .wrap .txt {
    position: relative;
    height: 317px;
    margin-top: 47px; }
    #skill .wrap .txt::before {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      position: absolute;
      width: 3px;
      height: 317px;
      background: #ffffff;
      top: 0;
      left: 50%; }
    #skill .wrap .txt span {
      position: absolute;
      font-size: 20px; }
      #skill .wrap .txt span::before {
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 50%;
        width: 59px;
        height: 10px;
        background: no-repeat; }
      #skill .wrap .txt span:nth-child(odd)::before {
        background: url("../images/aboutme/skill_right.svg"); }
      #skill .wrap .txt span:nth-child(even)::before {
        background: url("../images/aboutme/skill_left.svg"); }
#skill .hexagon {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  width: 189px;
  height: 109px;
  margin-top: 47.25px;
  left: 50%; }
  #skill .hexagon::before, #skill .hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-left: 94.5px solid transparent;
    border-right: 94.5px solid transparent; }
  #skill .hexagon::before {
    top: -47.25px; }
  #skill .hexagon::after {
    bottom: -47.25px; }
#skill .programming .hexagon {
  background: #FCAE26; }
  #skill .programming .hexagon::before {
    border-bottom: 47.25px solid #FCAE26; }
  #skill .programming .hexagon::after {
    border-top: 47.25px solid #FCAE26; }
#skill .programming .txt span:nth-child(1) {
  top: 37px;
  left: 106px; }
#skill .programming .txt span:nth-child(2) {
  top: 84px;
  left: 308px; }
#skill .programming .txt span:nth-child(3) {
  top: 128px;
  left: 113px; }
#skill .programming .txt span:nth-child(4) {
  top: 174px;
  left: 308px; }
#skill .programming .txt span:nth-child(5) {
  top: 218px;
  left: 45px; }
#skill .programming .txt span:nth-child(6) {
  top: 266px;
  left: 308px; }
#skill .programming .txt span:nth-child(odd)::before {
  background: url("../images/aboutme/skill_left.svg");
  right: -71px; }
#skill .programming .txt span:nth-child(even)::before {
  background: url("../images/aboutme/skill_right.svg");
  left: -75px; }
#skill .design .hexagon {
  background: #F60005; }
  #skill .design .hexagon::before {
    border-bottom: 47.25px solid #F60005; }
  #skill .design .hexagon::after {
    border-top: 47.25px solid #F60005; }
#skill .design .txt::before {
  height: 200px; }
#skill .design .txt span:nth-child(1) {
  top: 38px;
  left: 307px; }
#skill .design .txt span:nth-child(2) {
  top: 82px;
  left: 131px; }
#skill .design .txt span:nth-child(3) {
  top: 130px;
  left: 307px; }
#skill .design .txt span:nth-child(odd)::before {
  left: -75px; }
#skill .design .txt span:nth-child(even)::before {
  right: -73px; }
#skill .ect .hexagon {
  background: #0075A1; }
  #skill .ect .hexagon::before {
    border-bottom: 47.25px solid #0075A1; }
  #skill .ect .hexagon::after {
    border-top: 47.25px solid #0075A1; }
#skill .ect .txt span:nth-child(1) {
  top: 39px;
  left: 308px; }
#skill .ect .txt span:nth-child(2) {
  top: 91px;
  left: 44px; }
#skill .ect .txt span:nth-child(3) {
  top: 151px;
  left: 308px; }
#skill .ect .txt span:nth-child(4) {
  top: 238px;
  left: 91px; }
#skill .ect .txt span:nth-child(odd)::before {
  left: -75px; }
#skill .ect .txt span:nth-child(even)::before {
  right: -71px; }
#skill #jump {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 30px;
  bottom: 30px;
  background: #FB511D;
  font-size: 16px;
  text-align: center;
  line-height: 60px; }
#skill .guide, #skill .keyboard div {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  background: #ffffff; }
#skill .guide {
  width: 373px;
  height: 309px;
  left: 100px;
  bottom: 90px; }
  #skill .guide p {
    color: #222222;
    text-align: center;
    margin: 36px 0 30px; }
  #skill .guide .keyboard div {
    border: 1px solid #eee;
    width: 60px;
    height: 60px; }
    #skill .guide .keyboard div.click {
      -webkit-animation: flash 1s 0.8s infinite alternate;
      -moz-animation: flash 1s 0.8s infinite alternate;
      -o-animation: flash 1s 0.8s infinite alternate;
      animation: flash 1s 0.8s infinite alternate; }
  #skill .guide .keyboard img {
    display: block;
    width: 26px;
    margin: 23px auto; }
  #skill .guide .keyboard .up {
    top: 84px;
    left: calc(50% - 30px); }
  #skill .guide .keyboard .right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 154px;
    right: 86px; }
  #skill .guide .keyboard .down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 154px;
    left: calc(50% - 30px); }
  #skill .guide .keyboard .left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 154px;
    left: 86px; }
  #skill .guide .keyboard .spacebar {
    width: 200px;
    height: 50px;
    bottom: 35px;
    left: calc(50% - 100px);
    font-size: 23px;
    color: #656565;
    text-align: center;
    line-height: 50px; }
#skill .movetxt {
  margin-top: 89px; }
  #skill .movetxt marquee {
    font-size: 36px; }
  #skill .movetxt .line {
    font-family: hopang;
    margin-top: 20px; }

#projectCnt {
  position: relative; }
  #projectCnt .tit {
    font-family: NtSnasKR;
    font-size: 36px; }
  #projectCnt .subtit {
    font-size: 30px; }
  #projectCnt .txt {
    position: absolute;
    top: 153px;
    right: 0;
    width: 482px;
    text-align: right; }
    #projectCnt .txt .page, #projectCnt .txt .text {
      font-size: 22px; }
    #projectCnt .txt .website, #projectCnt .txt .role {
      font-size: 25px; }
    #projectCnt .txt .page {
      margin: 60px 0 39px; }
    #projectCnt .txt .website {
      margin-bottom: 10px; }
    #projectCnt .txt .text {
      line-height: 2;
      margin-top: 180px; }
  #projectCnt .go_btn {
    position: absolute;
    right: 0;
    top: 760px; }
    #projectCnt .go_btn a {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      font-size: 15px;
      width: 131px;
      height: 56px; }
    #projectCnt .go_btn .sitego {
      color: #ffffff;
      background: url("../images/icon/sitego.svg") no-repeat;
      padding: 18px 0 0 12px; }
  #projectCnt .img_wrap {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    width: 778px;
    height: 389px;
    overflow: hidden; }
  #projectCnt .controller {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center; }
    #projectCnt .controller button {
      position: relative;
      font-size: 20px; }
      #projectCnt .controller button::after {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 50%; }
    #projectCnt .controller .next::after {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      right: -32px;
      background: url("../images/icon/next.svg") no-repeat;
      width: 27px;
      height: 26px; }
    #projectCnt .controller .prev::after {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      left: -32px;
      background: url("../images/icon/prev.svg") no-repeat;
      width: 27px;
      height: 26px; }

.info .tit {
  margin-top: 134px; }
.info .tit + p, .info .subtit, .info .color > strong, .info .color > p, .info .font > strong, .info .font > p {
  text-align: center; }
.info .tit + p {
  font-size: 20px; }
.info .color > strong, .info .color > p, .info .font > strong, .info .font > p {
  color: #656565; }
.info .color > strong, .info .font > strong {
  position: relative;
  display: block;
  font-weight: 400; }
.info .color > strong::after, .info .font > strong::after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 1px;
  background: #656565; }
.info .design .subtit {
  margin-bottom: 86px; }
.info .design .color > p, .info .design .font > p {
  margin: 65px 0 41px; }
.info .design .color ul {
  text-align: center;
  height: 150px;
  width: 520px;
  margin: 0 auto; }
.info .design .color li {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  width: 150px;
  height: 150px;
  color: #ffffff;
  font-size: 30px;
  line-height: 150px; }
  .info .design .color li + li {
    margin-left: 35px; }
.info .design .font .title, .info .design .font .f_name {
  font-size: 23px; }
.info .design .font .f_name {
  color: #656565; }
.info .design .font .big, .info .design .font .small {
  font-weight: 700; }
.info .design .font .big {
  font-size: 65px;
  margin: 20px 0; }
.info .design .font .small {
  font-size: 55px; }
.info .coding .subtit {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  display: inline-block;
  left: 50%;
  margin: 200px 0 80px; }
  .info .coding .subtit::after {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    width: 22px;
    height: 23px;
    background: url("../images/icon/v_icon.svg") no-repeat; }
.info .coding .flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  justify-content: space-between; }
  .info .coding .flex div {
    position: relative;
    text-align: center;
    width: 400px; }
.info .coding .bg {
  overflow: hidden;
  /* width: 400px; */
  height: 500px;
  margin-bottom: 50px; }
.info .coding .circle {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  z-index: 10;
  border: 5px solid #fff; }
.info .sitego {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  color: #ffffff;
  background: url("../images/icon/sitego.svg") no-repeat;
  font-size: 15px;
  width: 131px;
  height: 56px;
  padding: 18px 0 0 12px; }

#cntA {
  position: relative;
  height: 1080px;
  max-height: 1080px; }
  #cntA::before, #cntA::after {
    content: "";
    position: absolute;
    background: url("../images/common/color_dot.svg") no-repeat;
    height: 620px;
    width: 25px; }
  #cntA::before {
    top: 347px;
    right: 402px; }
  #cntA::after {
    top: 0;
    right: 211px; }
  #cntA .right, #cntA .left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    font-size: 70px; }
  #cntA .right {
    top: 333px;
    right: -47px; }
    #cntA .right::after {
      content: "";
      position: absolute;
      width: 19px;
      height: 7px;
      background: #222222;
      top: 36px;
      right: -35px; }
  #cntA .left {
    top: 710px;
    right: 50px; }
  #cntA .loading {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 205px;
    top: 400px; }
    #cntA .loading .squareS, #cntA .loading .squareL {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: absolute; }
    #cntA .loading .squareS {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation: cubeS 3s linear infinite;
      -moz-animation: cubeS 3s linear infinite;
      -o-animation: cubeS 3s linear infinite;
      animation: cubeS 3s linear infinite;
      top: 0;
      left: 50%;
      width: 100px;
      height: 100px;
      background: #0075a1; }
    #cntA .loading .squareL {
      -webkit-animation: cubeL 3s linear infinite;
      -moz-animation: cubeL 3s linear infinite;
      -o-animation: cubeL 3s linear infinite;
      animation: cubeL 3s linear infinite;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 200px;
      background: #FCAE26; }

.project {
  /* position: absolute;top: 1080px;left: 0;width: 100%; */
  height: 960px; }
  .project, .project .prev, .project .next {
    color: #ffffff; }

#what .w1400, #kids .w1400 {
  height: 100%; }

#jaenung, #jaenung_info {
  background: #F4F4F4; }

#jaenung {
  z-index: 3; }
  #jaenung, #jaenung .prev, #jaenung .next {
    color: #222222; }
  #jaenung .w1400 {
    height: 100%; }
  #jaenung .img_wrap .img {
    width: 778px;
    height: 389px; }

#jaenung_info {
  height: 2700px; }
  #jaenung_info .tit {
    margin-bottom: 87px; }
  #jaenung_info .tit + p, #jaenung_info .subtit, #jaenung_info .color > strong, #jaenung_info .color > p, #jaenung_info .font > strong, #jaenung_info .font > p {
    text-align: center; }
  #jaenung_info .color > strong, #jaenung_info .font > strong {
    display: block; }
  #jaenung_info .design .subtit {
    margin-top: 134px; }
  #jaenung_info .design .color li:nth-child(1) {
    background: #E60417; }
  #jaenung_info .design .color li:nth-child(2) {
    background: #FF7800; }
  #jaenung_info .design .color li:nth-child(3) {
    -webkit-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -moz-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -o-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    background: linear-gradient(0deg, #e60410 0%, #ff7800 100%); }
  #jaenung_info .design .font {
    margin-top: 83px; }
    #jaenung_info .design .font > div {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      display: flex;
      justify-content: space-between;
      text-align: center; }
    #jaenung_info .design .font .left .big, #jaenung_info .design .font .left .small {
      font-family: jalnan; }
    #jaenung_info .design .font .left .big {
      color: #e60417; }
    #jaenung_info .design .font .left .small {
      color: #E34B58; }
    #jaenung_info .design .font .right .big, #jaenung_info .design .font .right .small {
      font-family: NtSansKR; }
    #jaenung_info .design .font .right .big {
      color: #FF7800; }
    #jaenung_info .design .font .right .small {
      color: #F6AB74; }
  #jaenung_info .coding .left .circle {
    top: 30px; }
  #jaenung_info .coding .mid .circle {
    top: 81px; }
  #jaenung_info .coding .right .circle {
    top: 154px; }
  #jaenung_info .sitego {
    bottom: 200px; }

#what, #what_info {
  background: #222222; }

#what {
  z-index: 2; }
  #what .img_wrap {
    width: 337px;
    height: 571.5px;
    left: 100px; }
  #what .controller .prev {
    margin-right: 65px; }

#what_info, #what_info .color > strong, #what_info .color > p, #what_info .font > strong, #what_info .font > p, #what_info .left .f_name, #what_info .right .f_name {
  color: #ffffff; }
#what_info .tit {
  margin-bottom: 60px; }
#what_info .subtit + p {
  text-align: center;
  margin: 30px 0 190px; }
#what_info .color > strong::after, #what_info .font > strong::after {
  background: #ffffff; }
#what_info .color li:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #282828;
  border: 2px solid #ffffff; }
#what_info .color li:nth-child(2) {
  background: #F6F4F4;
  color: #222222; }
#what_info .color li:nth-child(3) {
  background: #44AEC6; }
#what_info .font {
  margin-top: 200px; }
  #what_info .font > div {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    justify-content: space-between;
    text-align: center; }
  #what_info .font .left, #what_info .font .right {
    padding: 0 110px; }
  #what_info .font .left .big, #what_info .font .left .small {
    font-family: cormorant; }
  #what_info .font .left .big {
    color: #44AEC6; }
  #what_info .font .left .small {
    color: #A8D1DB; }
  #what_info .font .right .big, #what_info .font .right .small {
    font-family: poppins; }
  #what_info .font .right .big {
    color: #ffffff; }
  #what_info .font .right .small {
    color: #B8B8B8; }
#what_info .coding {
  margin: 220px 0 650px; }
  #what_info .coding .flex p {
    text-align: left; }
  #what_info .coding .circle {
    top: 60px; }
#what_info .sitego {
  bottom: 200px; }

#kids {
  background: #0252A6; }

#kids {
  z-index: 1; }
  #kids .txt {
    width: 600px; }
    #kids .txt .text {
      margin-top: 136px; }
  #kids .img_wrap {
    width: 718px;
    height: 537px; }
    #kids .img_wrap .img {
      width: 718px;
      height: 449px; }

#kids_info {
  color: #222222; }
  #kids_info .cnt1 {
    margin-top: 50px; }
    #kids_info .cnt1 li {
      float: left;
      width: 450px;
      height: 281px; }
      #kids_info .cnt1 li + li {
        margin-left: 25px; }
    #kids_info .cnt1 .subtit {
      margin: 45px 0 30px; }
  #kids_info .feature .subtit {
    margin: 120px 0 40px; }
  #kids_info .feature ul {
    width: 1028px;
    margin: 0 auto; }
  #kids_info .feature li {
    float: left;
    width: 182px; }
    #kids_info .feature li + li {
      margin-left: 100px; }
    #kids_info .feature li img {
      display: inline-block;
      height: 182px; }
    #kids_info .feature li p {
      text-align: center;
      line-height: 27px;
      margin-top: 18px; }
  #kids_info .flow .subtit {
    margin: 160px 0 50px; }
  #kids_info .flow div {
    text-align: center; }
  #kids_info .design .subtit {
    margin: 160px 0 70px; }
  #kids_info .design > div {
    float: left; }
  #kids_info .design .color > strong, #kids_info .design .color > p:nth-child(2), #kids_info .design .font > strong, #kids_info .design .font > p {
    display: inline-block; }
  #kids_info .design .color > strong::after, #kids_info .design .font > strong::after {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -o-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    bottom: 0;
    left: 66px;
    width: 100px; }
  #kids_info .design .color > p:nth-child(2), #kids_info .design .font > p {
    margin: 0;
    margin-left: 135px; }
  #kids_info .design .color > p:nth-child(3), #kids_info .design .color > p:nth-child(5) {
    margin: 45px 0 15px; }
  #kids_info .design .color {
    text-align: left;
    width: 580px; }
    #kids_info .design .color .main {
      width: 335px; }
      #kids_info .design .color .main li:nth-child(1) {
        background: #FFAF45;
        color: #bf6e02; }
      #kids_info .design .color .main li:nth-child(2) {
        background: #2fbcd1;
        color: #006473; }
    #kids_info .design .color .sub {
      height: 130px;
      width: 580px; }
      #kids_info .design .color .sub li {
        width: 130px;
        height: 130px;
        font-size: 23px;
        line-height: 130px; }
        #kids_info .design .color .sub li + li {
          margin-left: 20px; }
        #kids_info .design .color .sub li:nth-child(1) {
          background: #64b742;
          color: #237A00; }
        #kids_info .design .color .sub li:nth-child(2) {
          background: #f6c337;
          color: #907100; }
        #kids_info .design .color .sub li:nth-child(3) {
          background: #ea461f;
          color: #7A1700; }
        #kids_info .design .color .sub li:nth-child(4) {
          background: #bc662b;
          color: #532B00; }
  #kids_info .design .font {
    width: 757px;
    margin: 106px 0 0 63px; }
    #kids_info .design .font .left, #kids_info .design .font .right {
      padding: 0;
      text-align: center; }
    #kids_info .design .font .left .big, #kids_info .design .font .left .small {
      font-family: jalnan; }
    #kids_info .design .font .left .big {
      color: #FFBA1F; }
    #kids_info .design .font .left .small {
      color: #FFCB64; }
    #kids_info .design .font .right .big, #kids_info .design .font .right .small {
      font-family: NtSansKR; }
    #kids_info .design .font .right .big {
      color: #C46311; }
    #kids_info .design .font .right .small {
      color: #DF8340; }
  #kids_info .parish {
    margin-bottom: 200px; }
    #kids_info .parish .subtit {
      margin: 159px 0 80px; }
    #kids_info .parish > div.one, #kids_info .parish > div.two {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      display: flex;
      justify-content: space-between; }
    #kids_info .parish > div p {
      line-height: 2;
      font-size: 22px; }
    #kids_info .parish > div.three, #kids_info .parish > div.four, #kids_info .parish > div .img_wrap {
      position: relative; }
    #kids_info .parish > div img {
      position: absolute; }
    #kids_info .parish .one {
      height: 516px; }
      #kids_info .parish .one .txt {
        position: static; }
        #kids_info .parish .one .txt p {
          text-align: left; }
        #kids_info .parish .one .txt p:nth-child(2) {
          margin: 156px 0 51px; }
      #kids_info .parish .one .img_wrap img:nth-child(1) {
        top: 0;
        left: 0; }
      #kids_info .parish .one .img_wrap img:nth-child(2) {
        bottom: 0;
        right: 0; }
    #kids_info .parish .two {
      margin: 156px 0 100px;
      height: 356px; }
      #kids_info .parish .two p {
        display: inline-block;
        margin-top: 122px; }
      #kids_info .parish .two .img_wrap {
        height: 100%; }
        #kids_info .parish .two .img_wrap img:nth-child(1) {
          top: 0;
          left: 0; }
        #kids_info .parish .two .img_wrap img:nth-child(2) {
          top: 43px;
          right: 0; }
        #kids_info .parish .two .img_wrap img:nth-child(3) {
          bottom: 43px;
          left: 0; }
        #kids_info .parish .two .img_wrap img:nth-child(4) {
          bottom: 0;
          right: 0; }
    #kids_info .parish .three {
      height: 515px;
      margin-bottom: 253px; }
      #kids_info .parish .three p {
        position: absolute;
        top: 199px;
        right: 95px;
        width: 415px; }
      #kids_info .parish .three .img_wrap {
        height: 100%; }
        #kids_info .parish .three .img_wrap img:nth-child(1) {
          top: 0;
          left: 0; }
        #kids_info .parish .three .img_wrap img:nth-child(2) {
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%; }
        #kids_info .parish .three .img_wrap img:nth-child(3) {
          bottom: 0;
          right: 0; }
    #kids_info .parish .four {
      text-align: center;
      height: 345px; }
      #kids_info .parish .four strong {
        display: inline-block;
        margin-top: 101px; }
      #kids_info .parish .four a {
        bottom: 0;
        padding-left: 0;
        padding-top: 18px; }
      #kids_info .parish .four img {
        left: 943px; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes updown {
  0% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); }
  50% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%); }
  100% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); } }
@-moz-keyframes updown {
  0% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); }
  50% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%); }
  100% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); } }
@-o-keyframes updown {
  0% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); }
  50% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%); }
  100% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); } }
@keyframes updown {
  0% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); }
  50% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%); }
  100% {
    -webkit-transform: scale(0.9) translateX(-50%);
    -moz-transform: scale(0.9) translateX(-50%);
    -o-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%); } }
@-webkit-keyframes cubeS {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 200px;
    height: 50px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(90deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(90deg);
    -o-transform: translateX(0) translateY(-200px) rotate(90deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(90deg);
    transform: translateX(0) translateY(-200px) rotate(90deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(180deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(180deg);
    -o-transform: translateX(0) translateY(-300px) rotate(180deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(180deg);
    transform: translateX(0) translateY(-300px) rotate(180deg);
    width: 100px;
    height: 100px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(270deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(270deg);
    -o-transform: translateX(0) translateY(-200px) rotate(270deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(270deg);
    transform: translateX(0) translateY(-200px) rotate(270deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(360deg);
    transform: translateX(-50px) translateY(180px) rotate(360deg);
    width: 200px;
    height: 50px; } }
@-moz-keyframes cubeS {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 200px;
    height: 50px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(90deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(90deg);
    -o-transform: translateX(0) translateY(-200px) rotate(90deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(90deg);
    transform: translateX(0) translateY(-200px) rotate(90deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(180deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(180deg);
    -o-transform: translateX(0) translateY(-300px) rotate(180deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(180deg);
    transform: translateX(0) translateY(-300px) rotate(180deg);
    width: 100px;
    height: 100px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(270deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(270deg);
    -o-transform: translateX(0) translateY(-200px) rotate(270deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(270deg);
    transform: translateX(0) translateY(-200px) rotate(270deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(360deg);
    transform: translateX(-50px) translateY(180px) rotate(360deg);
    width: 200px;
    height: 50px; } }
@-o-keyframes cubeS {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 200px;
    height: 50px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(90deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(90deg);
    -o-transform: translateX(0) translateY(-200px) rotate(90deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(90deg);
    transform: translateX(0) translateY(-200px) rotate(90deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(180deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(180deg);
    -o-transform: translateX(0) translateY(-300px) rotate(180deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(180deg);
    transform: translateX(0) translateY(-300px) rotate(180deg);
    width: 100px;
    height: 100px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(270deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(270deg);
    -o-transform: translateX(0) translateY(-200px) rotate(270deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(270deg);
    transform: translateX(0) translateY(-200px) rotate(270deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(360deg);
    transform: translateX(-50px) translateY(180px) rotate(360deg);
    width: 200px;
    height: 50px; } }
@keyframes cubeS {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 200px;
    height: 50px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(90deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(90deg);
    -o-transform: translateX(0) translateY(-200px) rotate(90deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(90deg);
    transform: translateX(0) translateY(-200px) rotate(90deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(180deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(180deg);
    -o-transform: translateX(0) translateY(-300px) rotate(180deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(180deg);
    transform: translateX(0) translateY(-300px) rotate(180deg);
    width: 100px;
    height: 100px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(270deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(270deg);
    -o-transform: translateX(0) translateY(-200px) rotate(270deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(270deg);
    transform: translateX(0) translateY(-200px) rotate(270deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(360deg);
    transform: translateX(-50px) translateY(180px) rotate(360deg);
    width: 200px;
    height: 50px; } }
@-webkit-keyframes cubeL {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 400px;
    height: 100px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-30deg);
    transform: translateX(0) translateY(-200px) rotate(-30deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -o-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(-90deg);
    transform: translateX(0) translateY(-300px) rotate(-90deg);
    width: 200px;
    height: 200px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-135deg);
    transform: translateX(0) translateY(-200px) rotate(-135deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    transform: translateX(-50px) translateY(180px) rotate(-180deg);
    width: 400px;
    height: 100px; } }
@-moz-keyframes cubeL {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 400px;
    height: 100px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-30deg);
    transform: translateX(0) translateY(-200px) rotate(-30deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -o-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(-90deg);
    transform: translateX(0) translateY(-300px) rotate(-90deg);
    width: 200px;
    height: 200px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-135deg);
    transform: translateX(0) translateY(-200px) rotate(-135deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    transform: translateX(-50px) translateY(180px) rotate(-180deg);
    width: 400px;
    height: 100px; } }
@-o-keyframes cubeL {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 400px;
    height: 100px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-30deg);
    transform: translateX(0) translateY(-200px) rotate(-30deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -o-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(-90deg);
    transform: translateX(0) translateY(-300px) rotate(-90deg);
    width: 200px;
    height: 200px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-135deg);
    transform: translateX(0) translateY(-200px) rotate(-135deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    transform: translateX(-50px) translateY(180px) rotate(-180deg);
    width: 400px;
    height: 100px; } }
@keyframes cubeL {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 400px;
    height: 100px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-30deg);
    transform: translateX(0) translateY(-200px) rotate(-30deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -o-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(-90deg);
    transform: translateX(0) translateY(-300px) rotate(-90deg);
    width: 200px;
    height: 200px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -o-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-135deg);
    transform: translateX(0) translateY(-200px) rotate(-135deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -o-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    transform: translateX(-50px) translateY(180px) rotate(-180deg);
    width: 400px;
    height: 100px; } }
@-webkit-keyframes flash {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes flash {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes flash {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes flash {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
